@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container-centralizado {
  max-width: 1080px;
  margin: 0 auto;
  width: 90%;
}

ul {
  list-style: none;
}

.cabecalho {
  height: 1000px;
  background-image: url("/public/img/capa-madmax2.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.cabecalho .conteudo-superior {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho .conteudo-superior nav ul {
  display: flex;
}

.cabecalho .conteudo-superior nav ul li {
  margin: 0 15px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.cabecalho .conteudo-superior nav ul li:hover {
  filter: brightness(90%);
}

.cabecalho .conteudo-superior div {
  display: flex;
  align-items: center;
}

.cabecalho .conteudo-superior div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.cabecalho .conteudo-superior div h5 {
  color: #ffffff;
}

.cabecalho .conteudo-inferior {
  margin-top: 500px;
  width: 75%;
}

.cabecalho .conteudo-inferior .titulo-mad-max {
  font-size: 60px;
  color: #ffffff;
}

.cabecalho .conteudo-inferior ul {
  padding: 0;
  width: 250px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}

.cabecalho .conteudo-inferior button {
  margin-top: 40px;
  padding: 20px 50px;
  border: none;
  background-color: #ffeb3b;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cabecalho .conteudo-inferior button p {
  margin-right: 6px;
}

.cabecalho .conteudo-inferior button:hover {
  filter: brightness(90%);
}

.cabecalho .conteudo-inferior h4 {
  color: #ffffff;
  margin-top: 40px;
}

.cabecalho .conteudo-inferior .subtitulo {
  color: #978904;
  margin-top: 20px;
}

main {
  background-color: rgba(29, 165, 132, 0.05);
  /*linear-gradient(
    to bottom,
    rgba(29, 165, 132, 0.05),
    rgba(29, 165, 132, 0.05),
    rgba(29, 165, 132, 0.02)
  );*/
}

.nav-categorias {
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-categorias ul {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.nav-categorias ul li {
  color: #fdd835;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.nav-categorias ul li:hover {
  filter: brightness(90%);
}

.cards {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 20px 10px;
  width: 240px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.card img {
  width: 100%;
  height: 350px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 0 10px;
}

.card-body h4 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body span {
  color: #fdd835;
}

.card-body footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body footer i {
  color: gray;
}

.rodape {
  background-color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
}

.conteudo-rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteudo-rodape div {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.conteudo-rodape div i {
  color: gray;
}
